@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Neuton&display=swap');
/* this is our menu code! */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c7f5b;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #81aa88;
    color: #00592e;
  }
  .active {
    background-color:  #b0a5ca;
  }
body {
    background-image: url('https://mwalsh4300.files.wordpress.com/2021/12/background2-09.png');
    background-size: 100%;
    background-color: white;
    font-family: 'Neuton', serif;
    letter-spacing: 10px;
    text-align: center;
}
h1 {
    color:#b11a29;
}
p {
    color: #b11a29;
}
.menu {
    background-color: #b0a5ca;
}
img.animatedlogo {
    height: 200;
    width: 200;
    display: block;
    margin-left: auto;
    margin-right: auto 

}
@media only screen and (max-width: 600px) {
    body {
      background-image: url('https://mwalsh4300.files.wordpress.com/2021/12/background2-09.png');
      background-repeat: no-repeat;
      background-size: 500px 710px;
      font-family: 'Neuton', serif;
      letter-spacing: 5px;
    }
    .animatedlogo {
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
    h1 {
        color: #b11a29;
    }
    p {
        color:#2c7f5b;
    }
    .menu {
        width: 500px;
    }
  }
