@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Neuton&display=swap');
/* this is our menu code! */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c7f5b;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #81aa88;
    color: #00592e;
  }
  .active {
    background-color:  #b0a5ca;
  }
body {
    background-image: url('https://mwalsh4300.files.wordpress.com/2021/12/background-01.jpg');
    background-size: 100%;
    background-position: 50% 50%;
    background-color: white;
}
.logo {
  margin-top: 150px;
}
h1 {
    color:#f15d2a;
    font-family: 'Neuton', serif;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
}

.menu {
    background-color: #b0a5ca;
}
img.animatedlogo {
    height: 200;
    width: 200;
    display: block;
    margin-left: auto;
    margin-right: auto 

}
@media only screen and (max-width: 1243px) {
    body {
      background-image: url('https://mwalsh4300.files.wordpress.com/2021/12/background-01.jpg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      font-family: 'Neuton', serif;
    }
    .animatedlogo {
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
    h1 {
        color: #f15d2a;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .menu {
        width: 1243px;
    }
  }
